* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  color: #fff;
  outline: none;
  background: #fff0;
}
input::placeholder {
  color: #d4d4d4;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  border-radius: 15px;
  background: rgb(179 166 255 / 17%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.searchbar {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 50px;
  background: #ffffff0f;
  border-radius: 30px;
  margin-bottom: 40px;
  box-shadow: 0 0 8px 0px rgb(61 61 61 / 21%);
  transition: box-shadow 0.2s linear;
}

.searchbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 0px 30px 30px 0px;
  background-color: #fff0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.searchbar button:hover {
  background: #fff1;
}
.searchbar:focus-within {
  outline: 1px solid #e2e2e2;
  box-shadow: 0 0 8px 0px #fff;
}
.container-weather {
  text-align: center;
  color: #fff;
}
.locale {
  display: flex;
  justify-content: center;
  align-items: center;
}
.locale i {
  font-size: 14px;
  margin-right: 10px;
}
.locale h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  margin-right: 10px;
}
.weather-temperature {
  position: relative;
  margin-bottom: 50px;
}

#temperature {
  font-size: 100px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-right: 10px;
}
.celsius {
  position: absolute;
  top: 15px;
  font-size: 20px;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
}
.description p {
  margin-right: 5px;
}
.weather-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-title {
  display: flex;
  align-items: center;
}
.info h4 {
  font-size: 14px;
  font-weight: 300;
}
.info h5 {
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
}
.info i {
  font-size: 12px;
  margin-right: 5px;
}
.info:nth-child(odd) {
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;

  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}
.show {
  display: block;
}
